/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  .menu-icon{
    display: block;
  }
  .header-right{
    display: none;
  }
  .description {
    font-size: 16px;
  }
  .top-wrapper img{
    display: none;
  }
  .wrapper{
    display: none;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .wrapper{
    display: none;
  }
  .font{
    display: block;
    font-size: 28px;
  }
  .top-wrapper img{
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 200px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .lessons {
    display: block;
  }
  .lesson{
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }


  .section-title-skill h2 {
    font-size: 25px;
  }
  

  .header-right {
    display : none;
  }
  
  .description{
    width: 100%;
    font-size: 12px;
  }
  
 
}